__pycache__/
*.py[co]
*.so

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
docs/_build/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

#Translations
*.mo

# Generated cffi files
nacl/_cffi_*.c

# Generate libsodium files
src/libsodium/**/Makefile
src/libsodium/config.log
src/libsodium/config.status
src/libsodium/libsodium.pc
src/libsodium/libtool
