[MASTER]
# Pickle collected data for later comparisons.
persistent=yes


[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
#   W0511(fixme) - Do not need TODO's outputted typically
#   I0011(locally-disabled) - If something is disabled it shouldn't generate more output
#   C0111(missing-docstring) - Do not care if things are missing docstrings
#   R0913(too-many-arguments) - Tool enforced limits like this are horrible
#   R0903(too-few-public-methods) - Tool enforced limits like this are horrible
#   R0904(too-many-public-methods) - Tool enforced limits like this are horrible
#   R0911(too-many-return-statements) - Tool enforced limits like this are horrible
#   R0912(too-many-branches) - Tool enforced limits like this are horrible
#   R0914(too-many-locals) - Tool enforced limits like this are horrible
#   R0201(no-self-use) - Does @staticmethod even really gain anything?
#   W142(star-args) - Language features are not "magic"
#   E0603(undefined-all-variable) - This appears to be broken?
disable=W0511,I0011,C0111,R0913,R0903,R0904,R0911,R0912,R0914,R0201,W0142,E0603


[REPORTS]

output-format=colorized

include-ids=yes

symbols=yes

reports=no

comment=no


[BASIC]
# List of builtins function names that should not be used, separated by a comma
bad-functions=map,filter,apply,input

# Regular expression which should only match correct module level names
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))|(ffi|lib)$

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,_,fp

# Bad variable names which should always be refused, separated by a comma
bad-names=

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=80


[TYPECHECK]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E0201 when accessed. Python regular
# expressions are accepted.
generated-members=query,version,project

# List of classes which members are set dynamically and missed by pylint
# inference system, and so shouldn't trigger E1101 when accessed.
ignored-classes=FFILibrary


[VARIABLES]
# A regular expression matching the beginning of the name of dummy variables
# (i.e. not used).
dummy-variables-rgx=_
