language: python
python: 2.7
env:
  - TOXENV=py26 SODIUM_INSTALL=bundled CC=gcc
  - TOXENV=py27 SODIUM_INSTALL=bundled CC=gcc
  - TOXENV=py32 SODIUM_INSTALL=bundled CC=gcc
  - TOXENV=py33 SODIUM_INSTALL=bundled CC=gcc
  - TOXENV=py34 SODIUM_INSTALL=bundled CC=gcc
  - TOXENV=pypy SODIUM_INSTALL=bundled CC=gcc
  - TOXENV=py26 SODIUM_INSTALL=system CC=gcc
  - TOXENV=py27 SODIUM_INSTALL=system CC=gcc
  - TOXENV=py32 SODIUM_INSTALL=system CC=gcc
  - TOXENV=py33 SODIUM_INSTALL=system CC=gcc
  - TOXENV=py34 SODIUM_INSTALL=system CC=gcc
  - TOXENV=pypy SODIUM_INSTALL=system CC=gcc
  - TOXENV=py26 SODIUM_INSTALL=bundled CC=clang
  - TOXENV=py27 SODIUM_INSTALL=bundled CC=clang
  - TOXENV=py32 SODIUM_INSTALL=bundled CC=clang
  - TOXENV=py33 SODIUM_INSTALL=bundled CC=clang
  - TOXENV=py34 SODIUM_INSTALL=bundled CC=clang
  - TOXENV=pypy SODIUM_INSTALL=bundled CC=clang
  - TOXENV=py26 SODIUM_INSTALL=system CC=clang
  - TOXENV=py27 SODIUM_INSTALL=system CC=clang
  - TOXENV=py32 SODIUM_INSTALL=system CC=clang
  - TOXENV=py33 SODIUM_INSTALL=system CC=clang
  - TOXENV=py34 SODIUM_INSTALL=system CC=clang
  - TOXENV=pypy SODIUM_INSTALL=system CC=clang
  - TOXENV=docs
  - TOXENV=meta

install: .travis/install.sh

script: .travis/run.sh

after_success: coveralls

notifications:
  irc:
    channels:
      - "irc.freenode.org#cryptography-dev"
    use_notice: true
    skip_join: true
