language: python
dist: focal

# Only build master, the version branches (e.g. 1.7.x), and
# version tags (which are apparently considered branches by travis)
branches:
    only:
        - master
        - /\d+\.\d+\.x/
        - /\d+\.\d+(\.\d+)?/


matrix:
    include:
        - python: 2.7
          env: TOXENV=py27 SODIUM_INSTALL=bundled
        - python: 3.5
          env: TOXENV=py35 SODIUM_INSTALL=bundled
        - python: 3.6
          env: TOXENV=py36 SODIUM_INSTALL=bundled
        - python: 3.7
          env: TOXENV=py37 SODIUM_INSTALL=bundled
        - python: 3.8
          env: TOXENV=py38 SODIUM_INSTALL=bundled
        - python: pypy2.7-7.3.1
          env: TOXENV=pypy SODIUM_INSTALL=bundled
        - python: 3.8
          env: TOXENV=py38 SODIUM_INSTALL=system
        - python: 3.8
          env: TOXENV=py38 SODIUM_INSTALL=bundled SODIUM_INSTALL_MINIMAL=1
        - python: 3.8
          env: TOXENV=docs
        - python: 3.8
          env: TOXENV=meta
        - python: 2.7
          arch: arm64
          env: TOXENV=py27 SODIUM_INSTALL=bundled
        - python: 3.8
          arch: arm64
          env: TOXENV=py38 SODIUM_INSTALL=bundled
        - python: 3.8
          arch: arm64
          env: TOXENV=py38 SODIUM_INSTALL=system
        - python: 3.8
          arch: arm64
          env: TOXENV=py38 SODIUM_INSTALL=bundled SODIUM_INSTALL_MINIMAL=1

install: .travis/install.sh

script: .travis/run.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  irc:
    channels:
      # This is set to a secure variable to prevent forks from notifying the
      # IRC channel whenever they fail a build. This can be removed when travis
      # implements https://github.com/travis-ci/travis-ci/issues/1094.
      # The value encrypted here was created via
      # travis encrypt "irc.freenode.org#cryptography-dev"
      - secure: "DjoeF3KknBb3hZjNhFdthtXM1rYscZ5hd9hzYyN006rOY4CxnshJVYFoRIAEfZ58H2kAB6ZBntLmmXpARYQD636YQY9RLN4GytFYjJF0lpD2OoS9XrOJNUl1LivR7yFarPucDFnzZKo20myelUDA/X7eh21c9G+JM3Vukq2jNog="
    use_notice: true
    skip_join: true
