[build-system]
# Must be kept in sync with `setup_requirements` in `setup.py`
requires = [
    "setuptools>=40.8.0",
    "wheel",
    "cffi>=1.4.1; python_implementation != 'PyPy'",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 79
target-version = ["py36"]

[tool.mypy]
show_error_codes = true
check_untyped_defs = true
no_implicit_reexport = true
warn_redundant_casts = true
warn_incomplete_stub = true

files = ["src/nacl"]

[[tool.mypy.overrides]]
module = [
    "nacl._sodium",
]
ignore_missing_imports = true

# Most options can be applied across the entire project.
[[tool.mypy.overrides]]
module = [
    "nacl.bindings.crypto_aead",
    "nacl.bindings.crypto_box",
    "nacl.bindings.crypto_core",
    "nacl.bindings.crypto_hash",
    "nacl.bindings.crypto_generichash",
    "nacl.bindings.crypto_kx",
    "nacl.encoding",
    "nacl.exceptions",
    "nacl.utils",
]
disallow_any_unimported = true
# disallow_any_expr: true outside of `bindings`
disallow_any_decorated = true
disallow_any_explicit = true
disallow_any_generics = true
disallow_subclassing_any = true

disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
# check_untyped_defs enabled globally
disallow_untyped_decorators = true

no_implicit_optional = true

warn_unused_ignores = true
warn_no_return = true
# warn_return_any: true outside of `bindings`
warn_unreachable = true

# no-implicit-reexport enabled globally
strict_equality = true

# Within `nacl.bindings`, all of the C functions exposed via cffi in
# nacl._sodium return `Any` as far as mypy is concerned. It's not worth it to
# stub the C functions or cast() their uses. But this means there are more
# `Any`s floating around. So the more restrictive any checks we'd like to use
# should only be turned out outside of `bindings`.

[[tool.mypy.overrides]]
module = [
    "nacl.encoding",
    "nacl.exceptions",
    "nacl.utils",
]
disallow_any_expr = true
warn_return_any = true

