name: CI
on:
  pull_request: {}
  push:
    branches:
      - master
      - *.x
    tags:
      - *


jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        WINDOWS:
          - {ARCH: 'x86', WINDOWS: 'win32', SODIUM_ARCH: 'Win32'}
          - {ARCH: 'x64', WINDOWS: 'win64', SODIUM_ARCH: 'x64'}
        PYTHON:
          - {VERSION: "2.7", TOXENV: "py27", SODIUM_MSVC_VERSION: "v100"}
          - {VERSION: "3.5", TOXENV: "py35", SODIUM_MSVC_VERSION: "v140"}
          - {VERSION: "3.6", TOXENV: "py36", SODIUM_MSVC_VERSION: "v140"}
          - {VERSION: "3.7", TOXENV: "py37", SODIUM_MSVC_VERSION: "v140"}
          - {VERSION: "3.8", TOXENV: "py38", SODIUM_MSVC_VERSION: "v140"}
    name: "Python ${{ matrix.PYTHON.VERSION }} on ${{ matrix.WINDOWS.WINDOWS }}"`
    steps:
      - uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
          architecture: ${{ matrix.WINDOWS.ARCH }}
      - name: Install MSVC for Python 2.7
        run: |
            Invoke-WebRequest -Uri https://download.microsoft.com/download/7/9/6/796EF2E4-801B-4FC4-AB28-B59  FBF6D907B/VCForPython27.msi -OutFile VCForPython27.msi
            Start-Process msiexec -Wait -ArgumentList @('/i', 'VCForPython27.msi', '/qn', 'ALLUSERS=1')
            Remove-Item VCForPython27.msi -Force
        shell: powershell
        if: matrix.PYTHON.VERSION == '2.7'
      - name: 'Download libsodium libraries'
        run: |
          $url = "https://download.libsodium.org/libsodium/releases/libsodium-1.0.18-msvc.zip"
          $sha256hash = "C1D48D85C9361E350931FFE5067559CD7405A697C655D26955FB568D1084A5F4"
          Write-Host ('Downloading {0} ...' -f $url)
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          # See https://github.com/PowerShell/PowerShell/issues/2138
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri $url -OutFile 'libsodium.zip'
          if ((Get-FileHash libsodium.zip -Algorithm "SHA256").Hash -ne $sha256hash) {
            exit 1
          }
          Expand-Archive libsodium.zip -DestinationPath c:\
        shell: powershell
      - name: Copy stdint.h to include dir (distant weeping)
        run: mv .github/stdint-nonsense/stdint.h C:/libsodium/include/stdint.h
        if: matrix.PYTHON.VERSION == '2.7'
      - name: Run tests
        run: |
            set PYNACL_SODIUM_LIBRARY_NAME=sodium
            set PYNACL_SODIUM_STATIC=1
            set SODIUM_INSTALL=system
            set INCLUDE=C:/libsodium/include;%INCLUDE%
            set LIB=C:/libsodium/${{ matrix.WINDOWS.SODIUM_ARCH }}/release/${{ matrix.PYTHON.SODIUM_MSVC_VERSION }}/static;%LIB%
            tox
            IF %ERRORLEVEL% NEQ 0 EXIT /B %ERRORLEVEL%
        shell: cmd
      - name: Upload coverage
        run: |
          curl -o codecov.sh -f https://codecov.io/bash
          bash codecov.sh -n "Python ${{ matrix.PYTHON.VERSION }} on ${{ matrix.WINDOWS.WINDOWS }}" -Z
